*.iml
.gradle
.idea/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.apk
*.ap_
*.dex
bin/
gen/
local.properties
.classpath
.project
/*/build
*.iml
*.iws
*.ipr
*~
*.swp
.DS_Store
